.centered {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width:100vw;
    padding:20px
}

.site-header {
    width:100%;
    display: flex;              
    align-items: center;      
    justify-content: space-between; 
    padding: 10px 20px;
    border-bottom: 2px solid #333; 
    background-color: #484848;    
    position: sticky;          
    top: 0;
    z-index: 1000;          
}

.header-container {
    width:100%;
    display: flex;
    align-items: center;
    gap: 20px; 
}

.site-title {
    margin: 0;
    font-size: 1.5rem;
}

.nav-buttons button {
    margin-left: 10px;
    padding: 5px 12px;
    font-size: 1rem;
    cursor: pointer;
}

.film-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width:100%;
  max-width:900px;
}

.film-card {
  border: 1px solid #9e9e9e;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.film-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.film-card button {
  margin-top: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.film-card button:hover {
  background-color: #333;
  color: white;
}
