<!DOCTYPE html>
<html>
<head>
    <title>Landing Page</title>
</head>
<body>
    <h1>Top 5 Films</h1>
    <ul>
        {% for film in films %}
            <li>
                {{ film[1] }} has been rented {{ film[2] }} times.
            </li>
        {% endfor %}
    </ul>
        <h1>Top 5 Actors</h1>
    <ul>
        {% for actor in actors %}
            <li>
                {{ actor[0] }} {{ actor[1] }} — Starred in {{ actor[2] }} movies.
            </li>
        {% endfor %}
    </ul>
</body>
</html>